/* General application styling */
.app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}
a {
  color: black;
}
.header {
  padding: 20px 40px;
  box-shadow: 0 4px 2px -2px rgb(0 0 0 / 15%);
}
.header-title {
  font-size: 1.3em;
  font-weight: 400;
  padding-left: 15px;
}
/* Home */

.home-main {
  padding: 125px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./imgs/cloud.jpg');
}

.home-search {
  width: 50%;
  margin: 0 auto;
}

.home-text {
  font-weight: 700;
  font-size: xx-large;
  margin: 20px auto;
  color: white;
}

/* Search */
.search-form {
  width: 100%;
  display: flex;
}

.search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.results {
  padding-bottom: 4em;
}
.results-main {
  padding: 125px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('./imgs/lightning.jpg');
  background-size: cover;
  background-position: 50% !important;
}

.result-container {
  color: white;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url('./imgs/temperature.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px auto;
}

.result-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 0;
}

.result-content-text-title {
  font-size: x-large;
  font-weight: 700;
}

.results-text {
  font-weight: 700;
  font-size: 2.5em;
  color: white;
}

.results-container {
  text-align: center;
  padding: 50px 0;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: #f7f7f7;
  text-align: center;
}

/* Current Weather*/
.current-weather-box {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
  border-radius: 15px;
  margin: 25px auto;
  width: 85%;
  overflow: overlay;
  color: white;
  padding: 2%;
}

.temperature {
  font-size: 4em;
  font-weight: 700;
}

.weather-category-item {
  margin: 20px 0;
}

.weather-category-title {
  font-weight: 700;
}

/* Daily Weather */
.forecast {
  padding-bottom: 4em;
}
.daily-weather-box {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #b1bfd8;
  background-image: linear-gradient(250deg, #8ba8db 0%, #6782b4 74%);
  border-radius: 15px;
  margin: 5% auto;
  width: 85%;
  overflow: overlay;
  color: white;
  padding: 2%;
}

.daily-weather-container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: #f7f7f7 solid 1px;
}

.daily-weather-date {
  font-size: 1.2em;
  font-weight: 700;
}

.daily-weather-temperatures {
  font-size: 2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.center-div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
